.dividerFullHeight {
    position: relative;
    display: inline-block;
    height: 100vh;
    &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 100vh;
        background: red;
    }
}