/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}

@font-face {
	font-family: 'acumin';
	src: url('../public/fonts/acumin.woff2') format('woff2'), /* Super Modern Browsers */
}

html, body {
	height: 100%;
	font-family: 'acumin', sans-serif;
	font-style: normal;
	font-display: auto;
	font-style: normal;
	font-weight: 400;
}

body {
	transition: background .3s ease-in-out;
	&.bg-black {
		background: black;
	}
	&.bg-white {
		background: white;
	}
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#example-wrapper {
    overflow-y: hidden; 
}

.hello {
	display: inline-block;
	height: 70vh;
    vertical-align: middle;
	width: 100vw;
	@media screen and (min-width: '1000px') {
		height: 100vh;
	}
}
.vimeo-wrapper {
	width: 100%;
	height: 100%;
	display: inline-block;
	pointer-events: none;

	iframe {
		width: 100vw;
		height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */

		@media screen and (min-width: '1000px') {
			min-height: 100vh;
			min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

#content-wrapper, #example-wrapper {
    height: 100%;
}

.spacer.s_viewport {
    min-width: 100%;
}

.test {
	background: black;
	width: 100%;
	height: 100vh;
	z-index: 666666666666;

	&.white {
		background: white;
	}
}

// FONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTSFONTS

h1 {
	font-size: 42px;
}

h2 {
	font-size: 24px;
	margin-bottom: 8px;

	@media screen and (min-width: '1000px') {
		font-size: 30px;
	}
}

h6 {
	font-size: 11px;
}

p {
	font-weight: 200;
	font-size: 16px;
	@media screen and (min-width: '1000px') {
		font-size: 14px;
	}
}



// UTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTILSUTIL

.mobile {
	@media screen and (min-width: '1000px') {
		display: none;
	}
}

.desktop {
	display: none;
	@media screen and (min-width: '1000px') {
		display: block;
	}
}

// TRANSITIONSTRANSITIONSTRANSITIONSTRANSITIONSTRANSITIONSTRANSITIONSTRANSITIONSTRANSITIONSTRANSITIONSTRANSITIONSTRANSITIONSTRANSITIONS
.component {
	opacity: 0;
	transition: opacity 1s ease-in-out;

	&.fade-in {
		opacity: 1;
	}
}