.downArrow {
    width: 15px;
    position: absolute;
    top: 90px;
    right: 20px;
    @media screen and (min-width: '1000px') {
        display: none;
    }
}

.intro {
    padding-bottom: 120px;

    @media screen and (min-width: '1000px') {
        white-space: normal;
        width: 100%;
        padding-bottom: 0;
    }
}

.col2 {
    margin-bottom: 120px;
    p {
        font-size: 32px;
        font-weight: lighter;
        color: #545454;
    }
    @media screen and (min-width: '1000px') {
        margin-bottom: 42px;
        p {
            font-size: 22px;
            letter-spacing: 1px;
        }
    }
}
